*.workspace 
!spec/*.workspace

*.metadata
!spec/*.metadata

*.o 
!spec/*.o

*.pdsbak 
!spec/*.pdsbak

*.tre 
!spec/*.tre

*.cof 
!spec/*.cof

*.ccspjt 
!spec/*.ccspjt

*.esym 
!spec/*.esym

*.xsym 
!spec/*.xsym

*.STA 
!spec/*.STA

*.sym 
!spec/*.sym

*.lst 
!spec/*.lst

*.err 
!spec/*.err

*.PJT 
!spec/*.PJT

*.bak 
!spec/*.bak

*Backup*.cdr 
!spec/*Backup*.cdr

*.i 
!spec/*.i

*.p1 
!spec/*.p1

*.d 
!spec/*.d

*.log 
!spec/*.log

*_ip.bin 
!spec/*_ip.bin 

*_pt.bin 
!spec/*_pt.bin 

*_backup.bin
!spec/*_backup.bin

*_bck.ini
!spec/*_bck.ini

*~$*.xlsx
!spec/*~$*.xlsx

# Maven
target/
dist/
debug/
build/